<script lang="ts">
import { defineComponent } from 'vue';
import SearchIcon from '@/components/Icons/SearchIcon.vue';
import { EQuestStatus, type Player, type TQuestStatus } from '@/types';
import SortArrows from '@/components/SortArrows.vue';
import { orderBy } from 'lodash';
import { generateRandomPlayersArray } from '@/utils';

type TActiveField =
  | 'quest_1'
  | 'quest_2'
  | 'quest_3'
  | 'quest_4'
  | 'quest_5'
  | 'quest_6'
  | 'quest_7';

interface DataTypes {
  playersArray: Player[] | [];
  searchTeamValue: string;
  activeField: TActiveField;
  sortOrder: '' | 'asc' | 'desc';
}

export default defineComponent({
  components: { SortArrows, SearchIcon },
  setup() {
    return {
      EQuestStatus
    };
  },
  mounted() {
    // todo Replace mock data with real data
    this.playersArray = generateRandomPlayersArray(20);
  },
  data(): DataTypes {
    return {
      playersArray: [],
      searchTeamValue: '',
      activeField: 'quest_1',
      sortOrder: ''
    };
  },
  computed: {
    filteredTeam() {
      const searchTeamLower = this.searchTeamValue.toLowerCase();
      return this.playersArray.filter((player) =>
        player.username.toLowerCase().includes(searchTeamLower)
      );
    },
    sortedTeam() {
      if (this.activeField && this.sortOrder) {
        const questOrder = {
          Gold: 4,
          Silver: 3,
          Bronze: 2,
          Complete: 1
        };
        return orderBy(
          this.filteredTeam,
          [
            (player: Player) => {
              const activeField: TActiveField = this.activeField;
              const questStatus: TQuestStatus = player[activeField];
              return questOrder[questStatus];
            }
          ],
          [this.sortOrder === 'asc' ? 'desc' : 'asc']
        );
      }

      return this.filteredTeam;
    },
    firstPlaceUserName() {
      // todo get first user place
      return '@firstPlaceUserName';
    },
    secondPlaceUserName() {
      // todo get second user place
      return '@secondPlaceUserName';
    },
    thirdPlaceUserName() {
      // todo get third user place
      return '@thirdPlaceUserName';
    }
  },
  methods: {
    getQuestOutput(status: TQuestStatus) {
      switch (status) {
        case EQuestStatus.Gold:
          return '🥇';
        case EQuestStatus.Silver:
          return '🥈';
        case EQuestStatus.Bronze:
          return '🥉';
        case EQuestStatus.Complete:
          return EQuestStatus.Complete;
        default:
          return '';
      }
    },
    sortHandler(fieldName: TActiveField) {
      let sortOrder: '' | 'asc' | 'desc' = '';

      if (this.activeField === fieldName) {
        if (this.sortOrder === '') sortOrder = 'asc';
        if (this.sortOrder === 'asc') sortOrder = 'desc';
        if (this.sortOrder === 'desc') sortOrder = '';
      }

      if (this.activeField !== fieldName) {
        this.activeField = fieldName;
        sortOrder = 'asc';
      }

      this.sortOrder = sortOrder;
    }
  }
});
</script>

<template>
  <div
    class="px-4 min-h-screen bg-gradient-to-b from-[#ECFBF4] to-[#F7F8F8] pb-20">
    <header class="flex pt-12 pb-6 px-14">
      <button
        class="bg-green ml-auto font-bold text-xs rounded-3xl py-3 px-12 text-white">
        Start Your Quest
      </button>
    </header>
    <div class="content overflow-hidden">
      <h1 class="text-2xl md:text-5xl text-darkgrey text-center">
        Silo NFT Launch Leaderboard
      </h1>
      <h2 class="mt-4 text-xl md:text-2xl text-center text-grey">
        Complete challenges in Silo’s 7-day quest to earn special prizes and
        access to Silo’s free community NFT mint
      </h2>
      <div class="container mt-9 py-4 px-8 text-md md:text-2xl text-darkgrey">
        <p>What is this and how does it work?</p>
      </div>

      <!--   Top places   -->
      <div class="flex flex-wrap sm:flex-nowrap gap-4 mt-5 mb-8">
        <div class="place-container">
          <div class="top-place">
            <p class="place"><span class="text-xl">🥇</span> 1st Place</p>
            <p class="user">{{ firstPlaceUserName }}</p>
          </div>
        </div>
        <div class="place-container">
          <div class="top-place">
            <p class="place"><span class="text-xl">🥈</span> 2nd Place</p>
            <p class="user">{{ secondPlaceUserName }}</p>
          </div>
        </div>
        <div class="place-container">
          <div class="top-place">
            <p class="place"><span class="text-xl">🥉</span> 3rd Place</p>
            <p class="user">{{ thirdPlaceUserName }}</p>
          </div>
        </div>
      </div>

      <!--   Table   -->
      <div class="overflow-x-auto">
        <div class="container py-2 px-3 min-w-[640px]">
          <div class="relative mb-2">
            <search-icon
              class="absolute top-1/2 -translate-y-1/2 left-2 w-4 h-4" />
            <input
              v-model="searchTeamValue"
              placeholder="filter by team"
              class="outline outline-semigrey rounded-lg pl-8 py-1 text-xs text-darkgrey" />
          </div>

          <div
            class="table-header grid grid-cols-9 gap-4 text-xs text-semigrey text-center whitespace-nowrap mb-1">
            <!-- Table Header -->
            <div class="cell w-16">Rank</div>
            <div class="cell">Farmor Name</div>
            <div class="cell cursor-pointer" @click="sortHandler('quest_1')">
              <span>Quest 1</span>
              <sort-arrows
                field="quest_1"
                :activeField="activeField"
                :order="sortOrder" />
            </div>
            <div class="cell cursor-pointer" @click="sortHandler('quest_2')">
              <span>Quest 2</span>
              <sort-arrows
                field="quest_2"
                :activeField="activeField"
                :order="sortOrder" />
            </div>
            <div class="cell cursor-pointer" @click="sortHandler('quest_3')">
              <span>Quest 3</span>
              <sort-arrows
                field="quest_3"
                :activeField="activeField"
                :order="sortOrder" />
            </div>
            <div class="cell cursor-pointer" @click="sortHandler('quest_4')">
              <span>Quest 4</span>
              <sort-arrows
                field="quest_4"
                :activeField="activeField"
                :order="sortOrder" />
            </div>
            <div class="cell cursor-pointer" @click="sortHandler('quest_5')">
              <span>Quest 5</span>
              <sort-arrows
                field="quest_5"
                :activeField="activeField"
                :order="sortOrder" />
            </div>
            <div class="cell cursor-pointer" @click="sortHandler('quest_6')">
              <span>Quest 6</span>
              <sort-arrows
                field="quest_6"
                :activeField="activeField"
                :order="sortOrder" />
            </div>
            <div class="cell cursor-pointer" @click="sortHandler('quest_7')">
              <span>Quest 7</span>
              <sort-arrows
                field="quest_7"
                :activeField="activeField"
                :order="sortOrder" />
            </div>
          </div>

          <!-- Table Body -->
          <template v-for="player in sortedTeam">
            <div
              class="table-row grid grid-cols-9 gap-4 text-xs text-hgrey text-center">
              <div class="cell w-16">{{ player.rank }}</div>
              <div class="cell">{{ player.username }}</div>
              <div class="cell">{{ getQuestOutput(player.quest_1) }}</div>
              <div class="cell">{{ getQuestOutput(player.quest_2) }}</div>
              <div class="cell">{{ getQuestOutput(player.quest_3) }}</div>
              <div class="cell">{{ getQuestOutput(player.quest_4) }}</div>
              <div class="cell">{{ getQuestOutput(player.quest_5) }}</div>
              <div class="cell">{{ getQuestOutput(player.quest_6) }}</div>
              <div class="cell">{{ getQuestOutput(player.quest_7) }}</div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.table-header .cell {
  @apply col-span-1 flex items-center justify-center select-none;
}

.table-row .cell {
  @apply col-span-1 py-1.5 text-[10px];
}

.table-row:nth-child(odd) {
  @apply bg-darkwhite;
}
</style>
