<script lang="ts">
import { defineComponent } from 'vue';
import LeaderBoardPage from '@/pages/LeaderBoardPage.vue';

export default defineComponent({
  components: { LeaderBoardPage }
});
</script>

<template>
  <router-view name="content" />
</template>
