@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .content {
    @apply max-w-screen-md mx-auto;
  }
}
@layer components {
  .container {
    @apply rounded-lg bg-white border border-2 border-lightgrey;
  }
  .place-container {
    @apply py-2 w-full rounded-lg border border-green bg-white;
    .top-place {
      @apply flex flex-col gap-1 items-center;
      p.place {
        @apply w-max text-base text-darkgrey border-b-2 border-darkgrey;
      }
      p.user {
        @apply w-max text-xs text-blue border-b border-blue cursor-pointer;
      }
    }
  }
}
@layer utilities {
}
